.mainDiv{
    display: flex;
    height: 65px;
    text-align:center;
    padding-top:20px;
    border-bottom: 2px solid;
    border-bottom-color: #616161;
    justify-content: space-between
}

.labelDiv{
    text-align: left;
    margin-left: 30px;
     width: 200px 
}

.label{
    font-size: 20px;
}

.rightDiv{
    text-align: right;
    height: 35px;
    width:200px;
    right: 20px;
    display: flex
}

.labelDiv2{
    margin-right: 20px;
     padding: 5px
}


