.mainDivAddTran{
    text-align: left;
    margin-left: 50px;
}

.incomeLabel{
    margin-right: 25px;
    font-weight: bold;
    font-size: large;
}

.label{
    font-weight: bold;
    font-size: large;
}

.inputDiv{
    margin: 10px;
}

