.linkDiv{
    text-align: left ;
}

.AccountCard{
    height : 120px;
    width : 200px;
    background-color: aquamarine;
    margin:25px;
    font-size: 20px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    flex-shrink: 0;
}

.accName{
    font-size: larger;
}

.AddTranscButton{
    width:150px;
    height:27px;
    border-radius: 5px;
    background-color: darkcyan;
    color : azure;
    font-size: larger;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee ;
    box-sizing: border-box;
}

.buttonDiv{
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 1200px;
    display: flex; 
    flex-direction : column; 
}

.transactionCard{
    height: 75px;
    width: 75vw;
    justify-content: space-around;
    display: flex;
    font-size: 20px;
    margin: 15px;
    padding: 20px ;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee ;
    box-sizing: border-box;

}

.nameLabel{
    text-transform: capitalize;
}

.TransactionItem{
    width: calc(75vh/6);
    flex-shrink: 0;
    text-transform: capitalize;
}