.linkDiv{
    text-align: left ;
}

.AccountCard{
    height : 120px;
    width : 200px;
    background-color: aquamarine;
    margin:25px;
    font-size: 20px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    flex-shrink: 0;
    border-radius: 5px;
}

.accName{
    font-size: larger;
}

.AddTranscButton{
    width:150px;
    height:27px;
    border-radius: 7.5px;
    background-color: darkcyan;
    color : azure;
    font-size: larger;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee ;
    box-sizing: border-box;
}

.buttonDiv{
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 1200px;
    display: flex; 
    flex-direction : column; 
}

.TransactionItem1{
    width: 175px;
    text-transform: capitalize;
    text-align: left;
    padding-left: 20px;
}

.TransactionItem2{
    width:350px;
    text-transform: capitalize;
}

.TransactionItem3{
    width: 175px;
}

.TransactionItem4{
    width:175px;
}

.TransactionItem5{
    width:175px;
    text-transform: capitalize;
}

.deleteIcon{
    cursor: pointer;
    width:75px;
    text-align: right;
}

.editIcon{
    width:75px;
    text-align: right;
    padding-right: 30px;
}

.transactionCard{
    height: 75px;
    width: 1200px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 15px;
    padding-top: 22px ;
    padding-bottom: 20px;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee ;
    box-sizing: border-box;
}

.nameLabel{
    text-transform: capitalize;
}

