.divMain{
    margin: 25px;
}

.divAccountLabel{
    text-align: left;
    margin-left: 25px;
}

.accountsLabel{
    font-weight: bold;
}

.divAccounts{
    overflow-x: auto; 
    display: flex; 
    border: black
}

.AccountCard{
    height : 120px;
    width : 200px;
    background-color: aquamarine;
    margin:25px;
    font-size: 20px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    flex-shrink: 0;
    border: red;
    cursor: pointer ;
}

.balanceLabel{
    font-size: larger;
}

.addAccLink{
    text-decoration: none;
    font-size: 50px;
    color:black;
}

.transactionDiv{
    margin-top: 100px
}

.transactionDiv2{
    text-align: left;
    margin-left: 50px;
    margin-bottom: 25px; 
}

.addTransactionLabel{
    font-weight: bold;
    font-size: 17px;
    margin-right: 20px;
}

.AddTransactionButton{
    width:120px;
    height:25px;
    background-color: darkslateblue;
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

.transDisplayTopDiv{
    margin-left: "50px"
}





